<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Blah.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>BD15E09F1D9277DE005B709D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4948421D89F23000C50DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4948581D89F23000C50DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BD4948631D89F23000C50DE2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
